/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS CUSTOMER PROPERTIES */

:root {
  --ff-headings: 'Poppins', sans-serif;
  --ff-primary: 'Open Sans', sans-serif;

  --fw-reg: 400;
  --fw-semi: 600;
  --fw-bold: 700;

  --fs-xsm: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-xlg: 2.5rem;
  --fs-xxlg: 3rem;

  --fs-Highlight: 3.375rem;
  --fs-lgHighlight: 3.875rem;
  --fs-xlgHighlight: 6rem;

  --clr-neutral-100: hsl(0, 0%, 100%); /* white */
  --clr-neutral-200: hsl(207, 100%, 98%); /* very pale blue */
  --clr-neutral-300: hsl(208, 12%, 55%);
  --clr-neutral-800: hsl(192, 100%, 9%); /* very dark cyan */

  --clr-primary-400: hsl(321, 100%, 78%); /* light pink */
  --clr-primary-500: hsl(322, 100%, 66%); /* pink */
  --clr-primary-700: hsl(0, 100%, 63%); /* light red */
}

/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* BODY/GLOBAL */

body {
  font-family: var(--ff-primary);
  font: var(--fs-base);
  font-weight: var(--fw-reg);
  height: 100svh;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-headings);
  line-height: 1.5;
  font-weight: var(--fw-bold);
}

p {
  font-family: var(--ff-primary);
  line-height: 1.6;
}

.wrapper {
  max-width: 75rem;
  margin: 0 auto;
}

.section--bottom {
  margin-bottom: 8rem;
}

.article--bottom {
  margin-bottom: 10rem;
}

/* UTILITY */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flow--content > * + * {
  margin-bottom: 2em;
}

.spacer {
  padding-inline: 2rem;
}

.margin--y {
  margin-block: 6rem;
}

.text--align {
  text-align: center;
}

/* COMPONENTS */

.btn--light {
  font-size: var(--fs-xsm);
  color: var(--clr-primary-500);
  background-color: var(--clr-neutral-100);
  outline: 1px solid var(--clr-primary-500);
  box-shadow: 0px 0px 5px 0px rgba(255, 82, 193, 0.22);
  border: none;
  border-radius: 24px;
  padding: 0.3rem 1rem;
}

.btn--light:hover,
.btn--light:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  transition: all 400ms ease-in-out;
}

.btn--dark {
  font-size: var(--fs-xsm);
  font-weight: var(--fw-bold);
  letter-spacing: 0.5px;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  border: none;
  border-radius: 24px;
  padding: 0.75rem 3rem;
  filter: drop-shadow(0px 3px 7px rgba(0, 37, 46, 0.22));
}

.btn--dark:hover,
.btn--dark:focus {
  color: var(--clr-primary-500);
  background-color: var(--clr-neutral-100);
  outline: 2px solid var(--clr-primary-500);
  transition: all 400ms ease-in-out;
}

/* HEADER */

header {
  margin-top: 2rem;
  margin-bottom: 8rem;
  padding-inline: 1rem;
}

.logo {
  width: 6rem;
  height: 1rem;
}

/* MAIN */

section h1 {
  font-size: var(--fs-lg);
  margin-block-end: 1.5em;
}

section p {
  font-size: var(--fs-sm);
  margin-block-end: 3em;
}

/* STATS */

.stats__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats__count {
  font-size: var(--fs-lgHighlight);
  font-weight: var(--fw-bold);
  margin: 0;
}

.stats__text {
  color: var(--clr-neutral-300);
}

/* ARTICLES */

article {
  position: relative;
  margin-bottom: 10rem;
}

article h2 {
  font-size: var(--fs-md);
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
